.techsContent {
  position: relative;
  padding-top: 0.6875rem;

  ul {
    background-color: #212529;
    padding: 1.4375rem;
    border-radius: 4px;
  }

  p {
    font-size: clamp(0.7rem, 0.614rem + 0.429vw, 1rem);
  }
}
