.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: transparent;

    svg {
      fill: var(--Grey-1);
    }
  }
}
