@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.Title1 {
  font-weight: bold;
  font-size: clamp(1rem, 1.091rem + 0.038vw, 1.125rem);
}

.Title2 {
  font-weight: bold;
  font-size: 1rem;
}

.Headline {
  font-weight: normal;
  font-size: clamp(0.65rem, 0.613rem + 0.152vw, 0.95rem);
}

.HeadlineBold {
  font-weight: bold;
  font-size: 0.75rem;
}

.Paragraph {
  font-weight: normal;
  font-size: 1rem;
}
