.form {
  display: flex;
  flex-direction: column;
  padding-inline: 25.5px;
  background-color: var(--Grey-3);
  border-radius: 0.25rem;
  margin-bottom: 4rem;

  header {
    margin: 2rem 0rem 1.24rem 0rem;
    display: flex;
    gap: clamp(1.7rem, 1.635rem + 0.267vw, 1.875rem);
    flex-direction: column;

    p {
      color: var(--Grey-1);
    }
  }
}
