.inputContent {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(0.9rem, 0.863rem + 0.152vw, 1rem);

  label {
    margin-top: 0.8rem;
    margin-bottom: 0.875rem;
    text-transform: capitalize;
    font-size: clamp(0.75rem, 0.526rem + 0.305vw, 0.8rem);
  }

  .inputBox {
    display: flex;
    justify-content: space-between;
    padding: clamp(0.85rem, 0.798rem + 0.213vw, 0.99rem);
    background-color: var(--Grey-2);
    border-radius: 0.25rem;

    input {
      width: 100%;
      color: var(--Grey-0);
      background-color: transparent;
      border: none;
      outline: none;
      font-size: clamp(0.9rem, 0.826rem + 0.305vw, 1.1rem);

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: var(--Grey-0);
        -webkit-box-shadow: 0 0 0px 1000px var(--Grey-2) inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      &:-moz-ui-autofill,
      &:-moz-ui-autofill-preview,
      &:-moz-ui-autofill:hover,
      &:-moz-ui-autofill:focus {
        background-color: var(--Grey-2);
      }
    }
  }

  ::placeholder {
    color: #868e96;
  }
}

.error {
  position: absolute;
  font-size: 12px;
  bottom: -16px;
  padding-inline: 1rem;
  color: var(--Color-of-Error);
}
